/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Work Sans',sans-serif;
  margin: 0;
}

.w-80{
    width: 80%;
}

.overflow-hidden-x{
    overflow: hidden;
}

input:disabled {
  opacity: 0.5;
}
//font-weight
.fw-700 {
    font-weight: 700;
  }
  
  .fw-600 {
    font-weight: 600;
  }
  
  .fw-500 {
    font-weight: 500;
  }
  
  .fw-400 {
    font-weight: 400;
  }
  
  //font-size
  .font-40 {
    font-size: 40px;
    line-height: 55px;
  }
  
  .font-24 {
    font-size: 24px;
    line-height: 28px;
  }
  
  .font-22 {
    font-size: 22px;
    line-height: 26px;
  }
  
  .font-20 {
    font-size: 20px;
    line-height: 27px;
  }
  
  .font-16 {
    font-size: 16px;
    line-height: 19px;
  }
  
  .font-14 {
    font-size: 14px;
    line-height: 16px;
  }
  
  .font-12 {
    font-size: 12px;
    line-height: 14px;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  // colors
  
  .color-primary {
    color: #3f5765 !important;
  }
  
  .color-secondary {
    color: #F44D08;
  }
  
  .color-text {
    color: #545F7D;
  }
  
  .color-white {
    color: #ffffff;
  }
  
  .color-yellow {
    color: #E9B200;
  }
  
  .color-green {
    color: #39CD62;
  }
  
  .color-red {
    color: #E4033B;
  }
  
  //background colors
  
  .bg-transparent{
    background: transparent;
  }
  
  .bg-dblue {
    background: #213F7D !important;
  }
  
  .bg-orange {
    background: #d7490f  !important;
  }
  
  .bg-background {
    background: #E5E5E5;
  }
  
  .bg-wall {
    background: #fbfbfb;
  }
  
  .bg-white {
    background: #ffffff;
  }
  
  .bg-yellow {
    background: #e2c874;
  }
  
  .bg-green {
    background: #85e4a0;
  }
  
  .bg-red {
    background: #e45075;
  }
  
  .bg-text {
    background: #8d94a7;
  }
  
  .rounded-8 {
    border-radius: 8px;
  }
  
  .lnq-input {
    background: #FFFFFF;
    border: 2px solid rgba(84, 95, 125, 0.15);
    border-radius: 5px;
    padding: 0.7rem;
  }
  
  input {
    outline: none;
  }